<div id="jobs_form">
<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <div class="field_label">
    <%= form.label :name %>
  </div>
  <div class="field_text">
    <%= form.text_field :name, id: :job_name %>
  </div>
  </div>

<br>
<br>

  <div class="field">
  <div class="field_label">
    <%= form.label :description %>
  </div>
  <div class="field_text">
    <%= form.text_field :description, id: :job_description%>
  </div>
  </div>

<br>
<br>

  <div class="field">
  <div class="field_label">
    <%= form.label :containers %>
  </div>
  <div class="field_text">
    <%= form.number_field :containers, id: :job_containers %>
  </div>
  </div>

<br>
<br>

  <div class="field">
  <div class="field_label">
    <%= form.label :origin %>
  </div>
  <div class="field_text">
    <%= form.select :origin, [['Florida'], ['New York'], ['California'], ['Seattle'], ['Canada']] %>
  </div>
  </div>

<br>
<br>

  <div class="field">
  <div class="field_label">
    <%= form.label :destination %>
  </div>
  <div class="field_text">
    <%= form.select :destination, [['Spain'], ['Ireland'], ['Portugal'], ['Engald'], ['Italy']] %>
  </div>
  </div>
<br>
<br>
  <div class="field">
  <div class="field_label">
    <%= form.label :cost %>
  </div>
  <div class="field_text">
    <%= form.number_field :cost, id: :job_cost %>
  </div>
  </div>
<br>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>

 
<% end %>
</div>