<div class="detail_page">
<p id="notice"><%= notice %></p>
<div class="panel-heading">
  <div class="page_title">
    <h1 class="panel-title">Job Details</h1>
  </div>
  <div class="action_button">
    <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-success btn-xs"  %> | <%= link_to 'Delete', @job, class: "btn btn-danger btn-xs",  method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-body">
<p>
  <strong>Job Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @job.user.email %>
</p>

<p>
  <strong>Containers:</strong>
  <%= number_with_delimiter(@job.containers) %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @job.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @job.destination %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@job.cost, :unit => "$")  %>
</p>

<p>
  <strong>Assigned Boat(s):</strong>
    <% @job.assignments.each do |assignment| %>
        <p><%= assignment.boat.name %></p>


    <% end %>


  <p>
  <strong>Description:</strong>
  <%= @job.description %>
  </p>



<%= link_to 'Back', jobs_path, class: "btn btn-default btn-xs" %>

</div>
</div>
</div>
