<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @job.user.email %>
</p>

<p>
  <strong>Containers:</strong>
  <%= @job.containers %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @job.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @job.destination %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>

<p>
  <strong>Boat(s):</strong>
    <% @job.assignments.each do |assignment| %>
        <p><%= assignment.boat.name %></p>
    <% end %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> | 
<%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', jobs_path %>
<<<<<<< HEAD

=======
>>>>>>> b650b334d3f51215aa84cde44457f88b1d6b5700
