<div id="boats_form">

<%= form_with(model: boat, local: true) do |form| %>
  <% if boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @boat, {multipart: true} do |boat| %>
  <div class="field">

  <div class="field_label">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :boat_photo %>
  </div>

  <div class="field">
  <div class="field_label">
  <%= form.label :name %>


  <div class="field">
  <div class="field_label">
    <%= form.label :name %>
  </div>    
  <div class="field_text">    
    <%= form.text_field :name, id: :boat_name %>
  </div>
  </div>

  <br>
  <br>

  <div class="field">
  <div class="field_label">
    <%= form.label :location %>
  </div>    
  <div class="field_text">    
    <%= form.text_field :location, id: :boat_location %>
  </div>
  </div>

  <br>
  <br>

  <div class="field">
  <div class="field_label">
    <%= form.label :containers %>
  </div>    
  <div class="field_text">    
    <%= form.number_field :containers, id: :boat_containers %>
  </div>
  </div>

  <br>
  <br>  


  <div class="field">
  <div class="field_label">
    <%= form_for @boat, {multipart: true} do |boat| %>
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :boat_photo %>
  </div>
  <% end %>

  <br>
  <br>  
  <br>
  <br>
  <div class="actions">
    <%= form.submit 'Add Boat' %>
  </div>


<% end %>

</div>