<p id="notice"><%= notice %></p>

<h1>Boats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Containers</th>
      <th>Image</th>
      <th>Owner</th>
      <th>Assigned Job</th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= link_to boat.name, boat_path(boat) %></td>
        <td><%= boat.location %></td>
        <td><%= boat.containers %></td>
        <td> <%= image_tag boat.photo.url(:medium) %></td>
        <td><%= boat.user.email %></td>
        <% boat.assignments.each do |assignment| %>
          <td><%= assignment.job.name %></td>
        <% end %>
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boat', new_boat_path %>


        