<div class="detail_page">
<p id="notice"><%= notice %></p>

<div class="panel-heading">
  <div class="page_title">
    <h1 class="panel-title">Boat Details</h1>
  </div>
  <div class="action_button">
    <%= link_to 'Edit', edit_boat_path(@boat), class: "btn btn-success btn-xs"   %> | <%= link_to 'Delete', @boat, class: "btn btn-danger btn-xs",   method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-body">

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @boat.location %>
</p>

<p>
  <strong>Containers:</strong>
  <%= number_with_delimiter@boat.containers %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @boat.user.email %>
</p>

<p>
  <strong>Job(s):</strong>
    <% @boat.assignments.each do |assignment| %>
        <p><%= assignment.job.name %></p>
    <% end %>
</p>


<%= link_to 'Back', boats_path, class: "btn btn-default btn-xs" %>
