<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @boat.location %>
</p>

<p>
  <strong>Containers:</strong>
  <%= @boat.containers %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @boat.photo.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @boat.user.email %>
</p>


<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Delete', @boat, method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Back', boats_path %>
